<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="nouvolution_wishlistajax" translate="label" type="text" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Advanced Wishlist</label>
            <tab>nouvolution</tab>
            <resource>Nouvolution_WishlistAjax::AdvancedWishlistSettings</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Advanced Wishlist General Settings</label>
                <field id="enable_ajaxwishlist" translate="label comment" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Ajax Wishlist</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Ajax Wishlist</comment>
                </field>
            </group>
        </section>
    </system>
</config>
